/*
Author:
James Roddick
*/

/*
Set header banner to white.
Give full opacity.
!important forces an overwrite on previously existing formatting*/
.navbar{
    background-color: white !important;
    opacity: 1;
}

/*
Change text colour and font.
Verdana is an easily readable font. See https://www.w3schools.com/cssref/css_websafe_fonts.asp
#b3b3b3 is a light grey.
*/
.navbar .nav-item a{
    color: #b3b3b3 !important;
    font-family: Verdana, sans-serif;
}

/*
Change image alignment.
vw is viewport, which means it's telling the img to be 30% of the width of the browser
*/
.map {
width: 100%;
height: auto;
max-width: 100vw;
}